body {
  background: #fff0f5;
  font-family: "Hiragino Mincho ProN", serif;
  color: #333;
  margin: 0;
  padding: 0;
}

header, footer {
  text-align: center;
  padding: 1em;
  background-color: #fcdff0;
}

nav a {
  margin: 0 1em;
  text-decoration: none;
  color: #800080;
}

main {
  padding: 2em;
}
