body {
  background: #7B4DC2;
  font-family: "Hiragino Mincho ProN", serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

header, footer {
  text-align: center;
  padding: 1em;
  background-color: #693AB7;
}

nav a {
  margin: 0 1em;
  text-decoration: none;
  color: #ffd6ff;
}

main {
  padding: 2em;
}
